@import "tailwindcss";

:root {
  --color-primary: #fffdf2;
  --color-secondary: #1c1c1c;
}

/* FONTS  */

.google-sans-code-400 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.smooch-sans-400 {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spline-sans-mono-400 {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
